@font-face {
    font-family: 'Futura PT Cond';
    src: url(../fonts/FuturaPT-Bold.woff2);
    font-weight: bold;
    font-style: normal;
}
.section_1{
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 596px;
    display: flex;
    flex-direction: column; 
    position: relative;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}
.section_1::after{
    content: '';
   width: 0;
   height: 0;
   border-bottom: 109px solid #fff; 
   border-left: 770px solid transparent;
   position: absolute;
   bottom: 0;
   right: 0;
}
.section_1::before{
   content: '';
   width: 0;
   height: 0;
	border-bottom: 109px solid #fff; 
	border-right: 770px solid transparent;
   position: absolute;
   bottom: 0;
   left: 0;
}
.header_line{
background-color: #fff;
height: 113px;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 30px;
}
.nav_list{
    display: flex;
    width: 598px;
    justify-content: space-between;
    vertical-align: bottom;
    align-items: center;
}
a{
    text-decoration: none;
}
.nav_logo{
    vertical-align: center;
    margin-left: 202px;
    margin-right: 152px;
}
.logo{
color: #424F57;
font-family: 'Roboto', sans-serif;
font-size: 36px;
font-weight: 300;
}
.logo_name{
 color: #14AFCA;
 font-family: 'Roboto', sans-serif;
 font-size: 36px;
 font-weight: 900;
}
.nav_item{
    font-family: 'Open Sans', sans-serif;
    color: #3E4C4E;
    margin-right: 50px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20.43px;
}
.item{
    color: #14AFCA;
}
li{
    list-style: none;
}
.div_text_section_1{
   text-align: center;
   line-height: 75px;
   margin-top: 150px;
}
.text_section_1{
    font-family: 'Futura PT Cond';
    font-style: Bold;
    font-size: 52px;
    color: #fff;
    text-transform: uppercase;
} 
.div_text_section_2{
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 122px;
    width: 992px;
}
.blue_logo_section_2{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color:#14AFCA;
   
}
.text_section_2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
}
.text_2_section_2{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.section_3{
    background-image: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 635px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 93px;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}
.section_3::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 765px solid #fff;
	border-bottom: 109px solid transparent;
    position: absolute;
    right: 0;
}
.section_3::before{
    content: '';
    width: 0;
	height: 0;
	border-right: 759px solid #fff;
	border-bottom: 109px solid transparent;
    position: absolute;
    left: 0;
}
.blue_logo_section_3{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color:#14AFCA;

}
.text_section_3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.div_text_section_3{
    text-align: center;
    margin: 0 auto;
    line-height: 75px;
    margin-top: 140px;
}
.container_img_section_3{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 55px;
}
.img_section_3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_section_3:nth-child(2){
    position: relative;
}
.img_section_3_adobe{
    position: absolute;
}
.adobe_2{
    padding-bottom: 10px;
}
.div_text_section_4{
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 200px;
    width: 992px;
}
.blue_logo_section_4{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color:#14AFCA;
   
}
.text_section_4{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
}
.container_img_section_4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 161px;
    margin-top: 20px;
}
.img_section_4_text{
    text-align: center;
    width: 309px;
    height: 100px;
    margin-top: 21px;
}
.container_img_section_4 img{
    margin-left: 48px;
}
.section_5{
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 635px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 93px;
    background-color:rgba(0, 0, 0, 0.8);
    background-blend-mode: multiply;
}
.section_5::before{
    content: '';
    width: 0;
	height: 0;
	border-right: 759px solid #fff;
	border-bottom: 109px solid transparent;
    position: absolute;
    left: 0;
}
.section_5::after{
    content: '';
    width: 0;
	height: 0;
	border-left: 765px solid #fff;
	border-bottom: 109px solid transparent;
    position: absolute;
    right: 0;
}
.div_text_section_5{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 190px;
    width: 907px;
    height: 45px; 
    color: #fff;
}
.blue_logo_section_5{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color:#14AFCA;
   
}
.text_section_5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
}
.text_2_section_5{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    margin-top: 50px;
}
.span_section_5{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-top: 18px;
    font-style: italic;
    margin-left: 400px;
}
.section_6::after{
    content: '';
   width: 0;
   height: 0;
   border-bottom: 109px solid #fff; 
   border-left: 770px solid transparent;
   top: -292px;
    left: 749px;
    position: relative;
}
.section_6::before{
   content: '';
   width: 0;
   height: 0;
	border-bottom: 109px solid #fff; 
	border-right: 770px solid transparent;
   bottom: 125px;
    position: relative;
}
.div_text_section_6{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    margin-top: 105px;
    width: 816px;
    height: 45px; 
 
}
.blue_logo_section_6{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color:#14AFCA;
}
.text_section_6{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 25px;
}
.text_2_section_6{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    margin-top: 30px;
}
.copyright{
    margin-top: 96px;
    padding-bottom: 88px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.copyright_span{
    font-size: 16px;
    font-weight: 700;
}

